.study-page-div {
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    overflow: auto;
    background-color: #324054;
}

.piechart-div {
    width: 100%;
    height: 350px;
}

.checkpoint {
    font-size: 8vh;
    color: white;
}

.checkpoint-info-div {
    position: relative;
}

.what-div {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
    cursor: help;
}

.info-popup-div {
    position: absolute;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    top: 55px;
    padding: 8px 15px;
    background-color: #ffcf75;
    display: none;
    z-index: 5;
    width: 55%;
}

.info-popup-div > pre{
    color: #324054;
    text-align: center;
}

.what-is-this {
    font-family: Montserrat;
    font-size: 2vh;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.429)
}

.what-div:hover .info-popup-div{
    display: flex;
}

.progress-button {
    display: flex;
    padding-top: 30px;
    width: 100%;
}

.progress-button > div {
    width: 50%;
    border-bottom: 8px solid #888;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 1.1;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.progress-button > div:hover {
    border-bottom: 8px solid rgba(136, 136, 136, 0.5);
}

