.study-page-div {
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    overflow: auto;
    background-color: #324054;}

.piechart-div {
    width: 100%;
    height: 350px;
}

.checkpoint {
    font-size: 8vh;
    color: white;
}

.checkpoint-info-div {
    position: relative;
}

.what-div {
    display: flex;
    justify-content: center;
    width: 24%;
    margin: auto;
}

.info-popup-div {
    position: absolute;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    top: 55px;
    padding: 8px 15px;
    background-color: #ffcf75;
    display: none;
    z-index: 5;
    width: 60%;
}

.what-is-this {
    font-size: 2vh;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.593)
}

.what-div:hover .info-popup-div{
    display: flex;
}

