.landing-page-container {
    width: 100vw;
    height: 94vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-image: url("../../images/1840s-petrus-van-schendel-reading-by-candlelight-date-unknown-1.jpg"); */
    background-image: url("../../images/A_Young_Man_Reading_by_Candlelight_\(Matthias_Stom\)_-_Nationalmuseum_-_23887.tif.jpg");
}

.welcome-msg {
    position: absolute;
    bottom: 120px;
    left: 100px;
    font-size: 90px;
    color: white;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    /* width: 100%; */
}

.slogan {
    position: absolute;
    bottom: 70px;
    left: 100px;
    font-size: 30px;
    font-weight: 300;
    color: white;
}