/* TODO Add site wide styles */
#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal-header {
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
}

.button-container, .login-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-label-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}

.input-label-div > label {
    font-size: 14px;
    color: gray;
    border-bottom: 1px solid rgb(216, 216, 216);
}

input, textarea {
    padding: 7px 0px;
    border: 0px;
    border-bottom: 3px solid rgb(192, 192, 192);
    margin-bottom: 10px;
}

input:focus, textarea:focus {
    outline: none;
    border-bottom: 3px solid rgb(71, 129, 204);
}

textarea {
  height: 150px;
  resize: none;
}

button {
  font-family:'Montserrat', sans-serif;
}

.dark-buttons {
  font-family:'Montserrat', sans-serif;
  border: none;
  background-color: #324054;
  color: white;
  font-weight: 300;
  padding: 5px 10px;
  margin: 0px 10px;
  border-radius: 5px;
}

.fa-asterisk {
  font-size: 7px;
  color: red;
}

.required-icon {
  position: absolute;
  right: -10px;
  bottom: 20px;
}

.errors-div > div {
  color: rgb(253, 24, 24);
  padding: 2px;
  font-size: 13px;
}

.errors-div {
  margin-bottom: 15px;
}

.edit-card-errors {
  position: absolute;
  top: 5px;
  right: 35%;
}

p, pre, textarea, input {
  font-family: Garamond, serif;
  font-size: 18px;
  line-height: 1.4;
}

pre {
  white-space: pre-wrap;
}

h1,h2,h3,h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b9b9b9;
  opacity: .7; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b9b9b9;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #b9b9b9;
}

/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
    height: 100%;
    width: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  height: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end reset */