.dashboard-container {
    flex: 1 1 auto;
}

.user-bar-container {
    display: flex;
    background-color: #324054;
    flex-direction: row;
    align-items: center;
    height: 150px;
    width: 100%;
}

.user-icon {
    width: 80px;
    margin-left: 10px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
}

.user-full-name {
    margin-left: 10px;
    color: white;
    font-size: 30px;
    font-weight: 100;
    text-transform: capitalize;
}

.decks-list-header {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    background-color: #324054;
}

.create-deck-button, .view-decks-button{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    color: #EEEEEE;
    cursor: pointer;
    padding-bottom: 10px;
}

#create-button, #decks-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 1.1;
    text-transform: uppercase;
}

.view-decks-button {
    border-bottom: 8px solid #888;
}

.create-deck-button {
    border-bottom: 8px solid rgba(136, 136, 136, 0);
    display: flex;
    align-items: center;
}

.create-deck-button:hover {
    border-bottom: 8px solid rgba(136, 136, 136, 0.5);
}

.no-decks-div {
    padding: 50px;
    text-align: center;
}

.no-cards-div {
    text-align: center;
}

.no-thing-text {
    font-size: 30px;
    font-weight: bold;
}

.no-decks-img {
    object-fit: cover;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    height: 110px;
    margin-bottom: 10px;
    filter: brightness(2);
    object-position: 55% 45%;
    border-radius: 10px;
}

.no-cards-img {
    object-fit: cover;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    height: 110px;
    margin-bottom: 10px;
    object-position: 50% 69%;
    border-radius: 10px;

}