.options-container {
    position: absolute;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    top: 70px;
    padding: 8px 15px;
    background-color: #ffcf75;
    display: none;
    left: -23px;
}

.li-button {
    position: relative;
}

.delete-deck-button {
    padding-left: 6px;
    color: rgb(167, 47, 0);
}

.triangle {
    position: absolute;
    top: -7px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 11px solid #ffcf75;
}

.down-triangle {
    position: absolute;
    top: -7px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 11px solid #ffcf75;
}

.bubble-icon {
    padding: 5px;
}

.edit-deck-button {
    color: rgb(129, 146, 168);
    opacity: .7;
}

.edit-deck-button:hover {
    opacity: 1;
}

.hover-right-li:hover > .options-container {
    display: flex;
}

.hover-right-li {
    position: relative;
    padding: 30px 10px;
}

.plus-deck {
    margin-left: 5px;
}

/* Used dev.to instructions to make custom checkbox
Making my own changes while I figure it out
**taken from https://css-tricks.com/inclusively-hidden/ */

input[type="checkbox"] {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.checkbox {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 4px;
    cursor: pointer;
}


svg {
    fill-rule:evenodd;
    clip-rule:evenodd;
    stroke-linejoin:round;
    stroke-miterlimit:2;
}

#check-path {
    fill-rule: nonzero;
}

.share-label {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 2px;
}