.logo-icon {
    width: 40px;
    height: 40px;
    filter: invert(1);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    height: 60px;
    background-color: #324054;
}

.nav-right-side {
    display: flex;
    flex-direction: row;
}